#wrapper {
    padding: 0;
}
#megaMenu {
    display: block;
}
#menu > a.mobileMenu {
    display: none;
}
div.centerline:after {
position: absolute;
left: -35%;
top: 0;
content: " ";
width: 30%;
height: 50%;
display: block;
border-bottom: 1px solid #ccc;
}

div.centerline:before {
position: absolute;
right: -35%;
top: 0;
content: " ";
width: 30%;
height: 50%;
display: block;
border-bottom: 1px solid #ccc;
}
.span1, .span2, .span3, .span4, .span5, .span6,
.span7, .span8, .span9, .span10, .span11, .span12 {
    display: block;
    float: left;
    width: 100%;
    min-height: 37px;
    margin-left: 2.127659574468085%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.span12 {
    width: 100%;
    *width: 99.94680851063829%;
}
.span11 {
    width: 91.48936170212765%;
    *width: 91.43617021276594%;
}
.span10 {
    width: 82.97872340425532%;
    *width: 82.92553191489361%;
}
.span9 {
    width: 74.46808510638297%;
    *width: 74.41489361702126%;
}
.span8 {
    width: 65.95744680851064%;
    *width: 65.90425531914893%;
}
.span7 {
    width: 57.44680851063829%;
    *width: 57.39361702127659%;
}
.span6 {
    width: 48.93617021276595%;
    *width: 48.88297872340425%;
}
.span5 {
    width: 40.42553191489362%;
    *width: 40.37234042553192%;
}
.span4 {
    width: 31.914893617021278%;
    *width: 31.861702127659576%;
}
.span3 {
    width: 23.404255319148934%;
    *width: 23.351063829787233%;
}
.span2 {
    width: 14.893617021276595%;
    *width: 14.840425531914894%;
}

.span1 {
    width: 6.382978723404255%;
    *width: 6.329787234042553%;
}
#ghLogo{
    display: block;
    float:left;
    text-transform:uppercase;
    font-weight:bold;
    line-height:54px;
    margin-right:54px;
    margin-left: 10px;
}
#ghLogo a{
    text-decoration:none;
    -webkit-transition:.5s;
    transition:.5s;
}
.rowStyle2{
    background:#f7f6f0;
    height:auto;
    width:100%;
    padding:2em 0px;
    margin: 0;
    border-top:1px solid #d9d8d2;
}
div.callOuts{
    margin-bottom: 0;
}
#callOutWrapper{
    border-bottom:solid 1px #d9d8d2;
    padding-bottom:56px;
}
.sidebarWrapper {
    display: block;
}

#homeCallOut{
  height:auto;
  padding: 30px 0;
}
@import "mainmenu";
#footer {
    text-align: left;
}

#li-blackboard{
    background:url('../images/icons/spritesheet2.png') 54% 0 no-repeat;
}

#li-blackboard:hover{
    background:url('../images/icons/spritesheet2.png') 54% -60px no-repeat;
}

#li-computer{
    background:url('../images/icons/spritesheet2.png') 54% -648px no-repeat;

}

#li-computer:hover{
    background:url('../images/icons/spritesheet2.png') 54% -708px no-repeat;
}

#li-naviance{
    background:url('../images/icons/spritesheet2.png') 54% -1188px no-repeat;

}

#li-naviance:hover{
    background:url('../images/icons/spritesheet2.png') 54% -1248px no-repeat;
}

#li-calendar{
    background:url('../images/icons/spritesheet2.png') 54% -432px no-repeat;

}

#li-calendar:hover{
    background:url('../images/icons/spritesheet2.png') 54% -492px no-repeat;
}

#li-email{
    background:url('../images/icons/spritesheet2.png') 54% -756px no-repeat;

}

#li-email:hover{
    background:url('../images/icons/spritesheet2.png') 54% -816px no-repeat;
}

#li-wifi{
    background:url('../images/icons/spritesheet2.png') 54% -1296px no-repeat;

}

#li-wifi:hover{
    background:url('../images/icons/spritesheet2.png') 54% -1356px no-repeat;
}

#li-ipad{
    background:url('../images/icons/spritesheet2.png') 54% -108px no-repeat;

}

#li-ipad:hover{
    background:url('../images/icons/spritesheet2.png') 54% -168px no-repeat;
}

#li-food{
    background:url('../images/icons/spritesheet2.png') 54% -864px no-repeat;

}

#li-food:hover{
    background:url('../images/icons/spritesheet2.png') 54% -924px no-repeat;
}

#li-books{
    background:url('../images/icons/spritesheet2.png') 54% -216px no-repeat;
}

#li-books:hover{
    background:url('../images/icons/spritesheet2.png') 54% -276px no-repeat;
}

#li-bus{
    background:url('../images/icons/spritesheet2.png') 54% -324px no-repeat;

}

#li-bus:hover{
    background:url('../images/icons/spritesheet2.png') 54% -384px no-repeat;
}

#li-parking{
    background:url('../images/icons/spritesheet2.png') 54% -972px no-repeat;

}

#li-parking:hover{
    background:url('../images/icons/spritesheet2.png') 54% -1032px no-repeat;
}

#li-profile{
    background:url('../images/icons/spritesheet2.png') 54% -1080px no-repeat;

}

#li-profile:hover{
    background:url('../images/icons/spritesheet2.png') 54% -1140px no-repeat;
}

#li-clock{
    background:url('../images/icons/spritesheet2.png') 54% -540px no-repeat;

}

#li-clock:hover{
    background:url('../images/icons/spritesheet2.png') 54% -600px no-repeat;
}

.ghDescription{
    display:none;
}

/*END FIXED NAV ICONS*/

.row.staff-row .span4:nth-child(2n+1),  .med-twocol > .med-span6:nth-child(2n+1) {
    margin-left: 2.127659574468085%;
}
.row.staff-row .span4:nth-child(1),  .med-twocol > .med-span6:nth-child(1) {
    margin-left: 0;
}
.row.staff-row .span4:nth-child(3n+1), .threecol > .span4:nth-child(3n+1) {
    margin-left:  0;
}
.staffBio{
    width:75%;
    float:left;
}