/* ==========================================================================
   Grids
   ========================================================================== */
.container{
    margin:0 auto;
    max-width:emCalc($container_width);
    position:relative;
    z-index:1;
}
.row {
width: 100%;
margin-left: auto;
margin-right: auto;
margin-top: 0;
margin-bottom: 0;
max-width: emCalc($container_width);
*zoom: 1; }
.row:before, .row:after {
content: " ";
display: table; }
.row:after {
clear: both; }
.row.collapse > .col,
.row.collapse > .column,
.row.collapse > .columns {
position: relative;
padding-left: 0;
padding-right: 0;
float: left; }
.row.collapse .row {
margin-left: 0;
margin-right: 0; }
.row .row {
width: auto;
margin-left: -$gutter;
margin-right: -$gutter;
margin-top: 0;
margin-bottom: 0;
max-width: none;
*zoom: 1; }
.row .row:before, .row .row:after {
content: " ";
display: table; }
.row .row:after {
clear: both; }
.row .row.collapse {
width: auto;
margin: 0;
max-width: none;
*zoom: 1; }
.row .row.collapse:before, .row .row.collapse:after {
content: " ";
display: table; }
.row .row.collapse:after {
clear: both; }

.col,
.column,
.columns {
position: relative;
padding-left: $gutter;
padding-right: $gutter;
width: 100%;
float: left; }

@media only screen {
.col,
.column,
.columns {
position: relative;
padding-left: $gutter;
padding-right: $gutter;
float: left; }

.span-small1 {
position: relative;
width: 8.33333%; }

.span-small2 {
position: relative;
width: 16.66667%; }

.span-small3 {
position: relative;
width: 25%; }

.span-small4 {
position: relative;
width: 33.33333%; }

.span-small5 {
position: relative;
width: 41.66667%; }

.span-small6 {
position: relative;
width: 50%; }

.span-small7 {
position: relative;
width: 58.33333%; }

.span-small8 {
position: relative;
width: 66.66667%; }

.span-small9 {
position: relative;
width: 75%; }

.span-small10 {
position: relative;
width: 83.33333%; }

.span-small11 {
position: relative;
width: 91.66667%; }

.span-small12 {
position: relative;
width: 100%; }

.small-offset-0 {
position: relative;
margin-left: 0%; }

.small-offset-1 {
position: relative;
margin-left: 8.33333%; }

.small-offset-2 {
position: relative;
margin-left: 16.66667%; }

.small-offset-3 {
position: relative;
margin-left: 25%; }

.small-offset-4 {
position: relative;
margin-left: 33.33333%; }

.small-offset-5 {
position: relative;
margin-left: 41.66667%; }

.small-offset-6 {
position: relative;
margin-left: 50%; }

.small-offset-7 {
position: relative;
margin-left: 58.33333%; }

.small-offset-8 {
position: relative;
margin-left: 66.66667%; }

.small-offset-9 {
position: relative;
margin-left: 75%; }

.small-offset-10 {
position: relative;
margin-left: 83.33333%; }

[class*="column"] + [class*="column"]:last-child {
float: right; }

[class*="column"] + [class*="column"].end {
float: left; }

.column.small-centered,
.columns.small-centered {
position: relative;
margin-left: auto;
margin-right: auto;
float: none !important; } }

/* Styles for screens that are atleast 768px; */
@media only screen and (min-width: $media-large) {
    .span1 {
    position: relative;
    width: 8.33333%; }

    .span2 {
    position: relative;
    width: 16.66667%; }

    .span3 {
    position: relative;
    width: 25%; }

    .span4 {
    position: relative;
    width: 33.33333%; }

    .span5 {
    position: relative;
    width: 41.66667%; }

    .span6 {
    position: relative;
    width: 50%; }

    .span7 {
    position: relative;
    width: 58.33333%; }

    .span8 {
    position: relative;
    width: 66.66667%; }

    .span9 {
    position: relative;
    width: 75%; }

    .span10 {
    position: relative;
    width: 83.33333%; }

    .span11 {
    position: relative;
    width: 91.66667%; }

    .span12 {
    position: relative;
    width: 100%; }

    .row .offset0 {
    position: relative;
    margin-left: 0%; }

    .row .offset1 {
    position: relative;
    margin-left: 8.33333%; }

    .row .offset2 {
    position: relative;
    margin-left: 16.66667%; }

    .row .offset3 {
    position: relative;
    margin-left: 25%; }

    .row .offset4 {
    position: relative;
    margin-left: 33.33333%; }

    .row .offset5 {
    position: relative;
    margin-left: 41.66667%; }

    .row .offset6 {
    position: relative;
    margin-left: 50%; }

    .row .offset7 {
    position: relative;
    margin-left: 58.33333%; }

    .row .offset8 {
    position: relative;
    margin-left: 66.66667%; }

    .row .offset9 {
    position: relative;
    margin-left: 75%; }

    .row .offset10 {
    position: relative;
    margin-left: 83.33333%; }

    .row .offset11 {
    position: relative;
    margin-left: 91.66667%; }

    .push-1 {
    position: relative;
    left: 8.33333%;
    right: auto; }

    .pull-1 {
    position: relative;
    right: 8.33333%;
    left: auto; }

    .push-2 {
    position: relative;
    left: 16.66667%;
    right: auto; }

    .pull-2 {
    position: relative;
    right: 16.66667%;
    left: auto; }

    .push-3 {
    position: relative;
    left: 25%;
    right: auto; }

    .pull-3 {
    position: relative;
    right: 25%;
    left: auto; }

    .push-4 {
    position: relative;
    left: 33.33333%;
    right: auto; }

    .pull-4 {
    position: relative;
    right: 33.33333%;
    left: auto; }

    .push-5 {
    position: relative;
    left: 41.66667%;
    right: auto; }

    .pull-5 {
    position: relative;
    right: 41.66667%;
    left: auto; }

    .push-6 {
    position: relative;
    left: 50%;
    right: auto; }

    .pull-6 {
    position: relative;
    right: 50%;
    left: auto; }

    .push-7 {
    position: relative;
    left: 58.33333%;
    right: auto; }

    .pull-7 {
    position: relative;
    right: 58.33333%;
    left: auto; }

    .push-8 {
    position: relative;
    left: 66.66667%;
    right: auto; }

    .pull-8 {
    position: relative;
    right: 66.66667%;
    left: auto; }

    .push-9 {
    position: relative;
    left: 75%;
    right: auto; }

    .pull-9 {
    position: relative;
    right: 75%;
    left: auto; }

    .push-10 {
    position: relative;
    left: 83.33333%;
    right: auto; }

    .pull-10 {
    position: relative;
    right: 83.33333%;
    left: auto; }

    .push-11 {
    position: relative;
    left: 91.66667%;
    right: auto; }

    .pull-11 {
    position: relative;
    right: 91.66667%;
    left: auto; }

    .column.large-centered,
    .columns.large-centered {
    position: relative;
    margin-left: auto;
    margin-right: auto;
    float: none !important; }

    .column.large-uncentered,
    .columns.large-uncentered {
    margin-left: 0;
    margin-right: 0;
    float: left !important; }

    .column.large-uncentered.opposite,
    .columns.large-uncentered.opposite {
    float: right !important; }
}

/* The Grid ---------------------- */
.lt-ie9 .row { width: 100%; max-width: 100%; margin: 0 auto; }
.lt-ie9 .row .row { width: auto; max-width: none; min-width: 0; margin: 0 -15px; }
.lt-ie9 .row.large-collapse .col, 
.lt-ie9 .row.large-collapse .cols { padding: 0; }
.lt-ie9 .row .row { width: auto; max-width: none; min-width: 0; margin: 0 -15px; }
.lt-ie9 .row .row.large-collapse { margin: 0; }
 
.lt-ie9 .col, .lt-ie9 .cols { float: left; min-height: 1px; padding: 0 15px; position: relative; }
.lt-ie9 .col.large-centered, .cols.large-centered { float: none; margin: 0 auto; }
 
.lt-ie9 [class*="col"] + [class*="col"]:last-child { float: right; }
.lt-ie9 [class*="col"] + [class*="col"].end { float: left; }
 
.lt-ie9 .span1, 
.lt-ie9 .row .span1 { width: 8.33333%; }
 
.lt-ie9 .span2, 
.lt-ie9 .row .span2 { width: 16.66667%; }
 
.lt-ie9 .span3, 
.lt-ie9 .row .span3 { width: 25%; }
 
.lt-ie9 .span4, 
.lt-ie9 .row .span4 { width: 33.33333%; }
 
.lt-ie9 .span5, 
.lt-ie9 .row .span5 { width: 41.66667%; }
 
.lt-ie9 .span6, 
.lt-ie9 .row .span6 { width: 50%; }
 
.lt-ie9 .span7, 
.lt-ie9 .row .span7 { width: 58.33333%; }
 
.lt-ie9 .span8, 
.lt-ie9 .row .span8 { width: 66.66667%; }
 
.lt-ie9 .span9, 
.lt-ie9 .row .span9 { width: 75%; }
 
.lt-ie9 .span10, 
.lt-ie9 .row .span10 { width: 83.33333%; }
 
.lt-ie9 .span11, 
.lt-ie9 .row .span11 { width: 91.66667%; }
 
.lt-ie9 .span12,
.lt-ie9 .row .span12 { width: 100%; }
 
.lt-ie9 .row .span-offset-1 { margin-left: 8.33333%; }
.lt-ie9 .row .span-offset-2 { margin-left: 16.66667%; }
.lt-ie9 .row .span-offset-3 { margin-left: 25%; }
.lt-ie9 .row .span-offset-4 { margin-left: 33.33333%; }
.lt-ie9 .row .span-offset-5 { margin-left: 41.66667%; }
.lt-ie9 .row .span-offset-6 { margin-left: 50%; }
.lt-ie9 .row .span-offset-7 { margin-left: 58.33333%; }
.lt-ie9 .row .span-offset-8 { margin-left: 66.66667%; }
.lt-ie9 .row .span-offset-9 { margin-left: 75%; }
.lt-ie9 .row .span-offset-10 { margin-left: 83.33333%; }
 
.lt-ie9 .pull-2 { right: 16.66667%; }
.lt-ie9 .pull-3 { right: 25%; }
.lt-ie9 .pull-4 { right: 33.33333%; }
.lt-ie9 .pull-5 { right: 41.66667%; }
.lt-ie9 .pull-6 { right: 50%; }
.lt-ie9 .pull-7 { right: 58.33333%; }
.lt-ie9 .pull-8 { right: 66.66667%; }
.lt-ie9 .pull-9 { right: 75%; }
.lt-ie9 .pull-10 { right: 83.33333%; }
 
.lt-ie9 .push-2 { left: 16.66667%; }
.lt-ie9 .push-3 { left: 25%; }
.lt-ie9 .push-4 { left: 33.33333%; }
.lt-ie9 .push-5 { left: 41.66667%; }
.lt-ie9 .push-6 { left: 50%; }
.lt-ie9 .push-7 { left: 58.33333%; }
.lt-ie9 .push-8 { left: 66.66667%; }
.lt-ie9 .push-9 { left: 75%; }
.lt-ie9 .push-10 { left: 83.33333%; }
 
/* Nicolas Gallagher's micro clearfix */
.lt-ie9 .row { *zoom: 1; }
.lt-ie9 .row:before, .row:after { content: " "; display: table; }
.lt-ie9 .row:after { clear: both; }

.show-for-small,
.show-for-medium-down,
.show-for-large-down {
  display: inherit !important; }

.show-for-medium,
.show-for-medium-up,
.show-for-large,
.show-for-large-up,
.show-for-xlarge {
  display: none !important; }

.hide-for-medium,
.hide-for-medium-up,
.hide-for-large,
.hide-for-large-up,
.hide-for-xlarge {
  display: inherit !important; }

.hide-for-small,
.hide-for-medium-down,
.hide-for-large-down {
  display: none !important; }

/* Specific visilbity for tables */
table.show-for-small, table.show-for-medium-down, table.show-for-large-down, table.hide-for-medium, table.hide-for-medium-up, table.hide-for-large, table.hide-for-large-up, table.hide-for-xlarge {
  display: table; }

thead.show-for-small, thead.show-for-medium-down, thead.show-for-large-down, thead.hide-for-medium, thead.hide-for-medium-up, thead.hide-for-large, thead.hide-for-large-up, thead.hide-for-xlarge {
  display: table-header-group !important; }

tbody.show-for-small, tbody.show-for-medium-down, tbody.show-for-large-down, tbody.hide-for-medium, tbody.hide-for-medium-up, tbody.hide-for-large, tbody.hide-for-large-up, tbody.hide-for-xlarge {
  display: table-row-group !important; }

tr.show-for-small, tr.show-for-medium-down, tr.show-for-large-down, tr.hide-for-medium, tr.hide-for-medium-up, tr.hide-for-large, tr.hide-for-large-up, tr.hide-for-xlarge {
  display: table-row !important; }

td.show-for-small, td.show-for-medium-down, td.show-for-large-down, td.hide-for-medium, td.hide-for-medium-up, td.hide-for-large, td.hide-for-large-up, td.hide-for-xlarge,
th.show-for-small,
th.show-for-medium-down,
th.show-for-large-down,
th.hide-for-medium,
th.hide-for-medium-up,
th.hide-for-large,
th.hide-for-large-up,
th.hide-for-xlarge {
  display: table-cell !important; }

/* Medium Displays: 768px - 1279px */
@media only screen and (min-width: 768px) {
  .show-for-medium,
  .show-for-medium-up {
    display: inherit !important; }

  .show-for-small {
    display: none !important; }

  .hide-for-small {
    display: inherit !important; }

  .hide-for-medium,
  .hide-for-medium-up {
    display: none !important; }

  /* Specific visilbity for tables */
  table.show-for-medium, table.show-for-medium-up, table.hide-for-small {
    display: table; }

  thead.show-for-medium, thead.show-for-medium-up, thead.hide-for-small {
    display: table-header-group !important; }

  tbody.show-for-medium, tbody.show-for-medium-up, tbody.hide-for-small {
    display: table-row-group !important; }

  tr.show-for-medium, tr.show-for-medium-up, tr.hide-for-small {
    display: table-row !important; }

  td.show-for-medium, td.show-for-medium-up, td.hide-for-small,
  th.show-for-medium,
  th.show-for-medium-up,
  th.hide-for-small {
    display: table-cell !important; } }
/* Large Displays: 1280px - 1440px */
@media only screen and (min-width: 1280px) {
  .show-for-large,
  .show-for-large-up {
    display: inherit !important; }

  .show-for-medium,
  .show-for-medium-down {
    display: none !important; }

  .hide-for-medium,
  .hide-for-medium-down {
    display: inherit !important; }

  .hide-for-large,
  .hide-for-large-up {
    display: none !important; }

  /* Specific visilbity for tables */
  table.show-for-large, table.show-for-large-up, table.hide-for-medium, table.hide-for-medium-down {
    display: table; }

  thead.show-for-large, thead.show-for-large-up, thead.hide-for-medium, thead.hide-for-medium-down {
    display: table-header-group !important; }

  tbody.show-for-large, tbody.show-for-large-up, tbody.hide-for-medium, tbody.hide-for-medium-down {
    display: table-row-group !important; }

  tr.show-for-large, tr.show-for-large-up, tr.hide-for-medium, tr.hide-for-medium-down {
    display: table-row !important; }

  td.show-for-large, td.show-for-large-up, td.hide-for-medium, td.hide-for-medium-down,
  th.show-for-large,
  th.show-for-large-up,
  th.hide-for-medium,
  th.hide-for-medium-down {
    display: table-cell !important; } }
/* X-Large Displays: 1400px and up */
@media only screen and (min-width: 1440px) {
  .show-for-xlarge {
    display: inherit !important; }

  .show-for-large,
  .show-for-large-down {
    display: none !important; }

  .hide-for-large,
  .hide-for-large-down {
    display: inherit !important; }

  .hide-for-xlarge {
    display: none !important; }

  /* Specific visilbity for tables */
  table.show-for-xlarge, table.hide-for-large, table.hide-for-large-down {
    display: table; }

  thead.show-for-xlarge, thead.hide-for-large, thead.hide-for-large-down {
    display: table-header-group !important; }

  tbody.show-for-xlarge, tbody.hide-for-large, tbody.hide-for-large-down {
    display: table-row-group !important; }

  tr.show-for-xlarge, tr.hide-for-large, tr.hide-for-large-down {
    display: table-row !important; }

  td.show-for-xlarge, td.hide-for-large, td.hide-for-large-down,
  th.show-for-xlarge,
  th.hide-for-large,
  th.hide-for-large-down {
    display: table-cell !important; } }
/* Orientation targeting */
.show-for-landscape,
.hide-for-portrait {
  display: inherit !important; }

.hide-for-landscape,
.show-for-portrait {
  display: none !important; }

/* Specific visilbity for tables */
table.hide-for-landscape, table.show-for-portrait {
  display: table; }

thead.hide-for-landscape, thead.show-for-portrait {
  display: table-header-group !important; }

tbody.hide-for-landscape, tbody.show-for-portrait {
  display: table-row-group !important; }

tr.hide-for-landscape, tr.show-for-portrait {
  display: table-row !important; }

td.hide-for-landscape, td.show-for-portrait,
th.hide-for-landscape,
th.show-for-portrait {
  display: table-cell !important; }

@media only screen and (orientation: landscape) {
  .show-for-landscape,
  .hide-for-portrait {
    display: inherit !important; }

  .hide-for-landscape,
  .show-for-portrait {
    display: none !important; }

  /* Specific visilbity for tables */
  table.show-for-landscape, table.hide-for-portrait {
    display: table; }

  thead.show-for-landscape, thead.hide-for-portrait {
    display: table-header-group !important; }

  tbody.show-for-landscape, tbody.hide-for-portrait {
    display: table-row-group !important; }

  tr.show-for-landscape, tr.hide-for-portrait {
    display: table-row !important; }

  td.show-for-landscape, td.hide-for-portrait,
  th.show-for-landscape,
  th.hide-for-portrait {
    display: table-cell !important; } }
@media only screen and (orientation: portrait) {
  .show-for-portrait,
  .hide-for-landscape {
    display: inherit !important; }

  .hide-for-portrait,
  .show-for-landscape {
    display: none !important; }

  /* Specific visilbity for tables */
  table.show-for-portrait, table.hide-for-landscape {
    display: table; }

  thead.show-for-portrait, thead.hide-for-landscape {
    display: table-header-group !important; }

  tbody.show-for-portrait, tbody.hide-for-landscape {
    display: table-row-group !important; }

  tr.show-for-portrait, tr.hide-for-landscape {
    display: table-row !important; }

  td.show-for-portrait, td.hide-for-landscape,
  th.show-for-portrait,
  th.hide-for-landscape {
    display: table-cell !important; } }
/* Touch-enabled device targeting */
.show-for-touch {
  display: none !important; }

.hide-for-touch {
  display: inherit !important; }

.touch .show-for-touch {
  display: inherit !important; }

.touch .hide-for-touch {
  display: none !important; }

/* Specific visilbity for tables */
table.hide-for-touch {
  display: table; }

.touch table.show-for-touch {
  display: table; }

thead.hide-for-touch {
  display: table-header-group !important; }

.touch thead.show-for-touch {
  display: table-header-group !important; }

tbody.hide-for-touch {
  display: table-row-group !important; }

.touch tbody.show-for-touch {
  display: table-row-group !important; }

tr.hide-for-touch {
  display: table-row !important; }

.touch tr.show-for-touch {
  display: table-row !important; }

td.hide-for-touch {
  display: table-cell !important; }

.touch td.show-for-touch {
  display: table-cell !important; }

th.hide-for-touch {
  display: table-cell !important; }

.touch th.show-for-touch {
  display: table-cell !important; }