#megaMenu > li > a {
    font-color: #000;
    font-weight: bold;
}
#megaMenu > li {
    font-size: 1em;
    a, span {
        display: inline;
        padding: 0;
    }
    span {
        border-bottom: none;
    }
}
.subMenuLeft > li {
    border-bottom: none;
}
#megaMenu > li > div, #megaMenu > li > ul {
    display: none;
}

#menuWrapper{
    z-index:20;
    height:auto;
    position:relative;
    margin:0 auto;  
    padding:0px;
    /*IE8 needs 54px for margin*/
    padding-bottom:41px;
    border-bottom:solid 1px #d9d8d2;
}

#menuTopLinks{
    height:57px;
    float:right;
    color:#898989;
    padding-top:13px;
    box-sizing:border-box;
    -moz-box-sizing:border-box;
    -webkit-box-sizing:border-box;
}

#menuTopLinks a{
    margin:0 5px;
    font-size:12px;
    text-decoration:none;
}

.phoneNumber{
    float:right;
}

.phoneNumber a,.phoneNumber{
    font-size:1.5em;
    color:#333;
    font-weight:bold;
    text-decoration:none;
}

#mainLogo{
    float:left;
    /*IE8 needs 35px for margin*/
    width:100%;
    max-width:237px;
}

#menuWrapper #callToAction{
    float:right;
}


.ie8 #megaMenu li a{
    font-size:12px;
}
#megaMenu{
    float:left;
    margin-left: 20px;
}

#megaMenu a[href="#"]{ cursor: default; }

#megaMenu li{
    float:left;
    position:relative;
    margin-right:23px;
    line-height:43px;
}

#megaMenu a, #megaMenu li,.subMenuWrapper ul>li{
    color:#333333;
    text-decoration:none;
    font-weight:bold;
    display: block;
    text-align: left !important;
}

#megaMenu a:hover, #megaMenu a:active{
    color:#258f6c;
}

#megaMenu li:hover > a{
    color:#258f6c;
}

#megaMenu li:hover>.subMenuWrapper{
    display:block;
}

.subMenuWrapper{
    position:absolute;
    left:0px;
    display: none;
    box-sizing:border-box;
    -moz-box-sizing:border-box;
    -webkit-box-sizing:border-box;
    /*
    -moz-box-shadow: 0px 0px 20px #b9b9b9;
    -webkit-box-shadow: 0px 0px 20px #b9b9b9;
    box-shadow: 0px 0px 20px #b9b9b9;*/
    background:#f4f4f4;
background: -moz-linear-gradient(top,  rgba(245,245,245,1) 0%, rgba(245,245,245,0.98) 5%, rgba(245,245,245,0.97) 6%, rgba(255,255,255,0.97) 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(245,245,245,1)), color-stop(5%,rgba(245,245,245,0.98)), color-stop(6%,rgba(245,245,245,0.97)), color-stop(100%,rgba(255,255,255,0.97))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  rgba(245,245,245,1) 0%,rgba(245,245,245,0.98) 5%,rgba(245,245,245,0.97) 6%,rgba(255,255,255,0.97) 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  rgba(245,245,245,1) 0%,rgba(245,245,245,0.98) 5%,rgba(245,245,245,0.97) 6%,rgba(255,255,255,0.97) 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  rgba(245,245,245,1) 0%,rgba(245,245,245,0.98) 5%,rgba(245,245,245,0.97) 6%,rgba(255,255,255,0.97) 100%); /* IE10+ */
background: linear-gradient(to bottom,  rgba(245,245,245,1) 0%,rgba(245,245,245,0.98) 5%,rgba(245,245,245,0.97) 6%,rgba(255,255,255,0.97) 100%); /* W3C */

    box-shadow: 0px 0px 9px rgba(0, 0, 0, 0.2);
    z-index:2;
    background-size:100% 100%;
}
.subMenuWrapper:before {
    /*content: "";
    display:block;
    background:url('../images/up-arrow.png');
    width:19px;
    height:13px;
    margin:0 auto;
    margin-top:-13px;*/
    content: "";
    display:block;
    background: none;
    width: 0;
    height: 13px;
    margin:0 auto;
    margin-top: -26px;
    border-bottom: 13px solid #f4f4f4;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
}
.subMenuWrapper:after {
    content: "";
    display: block;
    width: 100px;
    height: 19px;
    margin: 0 auto;
    margin-top: -19px;
}
.ie8 .subMenuWrapper{
    border: 1px solid #E2E2E2;  
}
.ie8 .subMenuWrapper:before {
    background: none;
    width: 0;
    height: 13px;
    margin-top: -27px;
    border-bottom: 14px solid #E2E2E2;
    border-left: 12px solid transparent;
    border-right: 12px solid transparent;
}
.ie8 .subMenuWrapper:after {
    content: "";
    display:block;
    background: none;
    width: 0;
    height: 13px;
    margin:0 auto;
    margin-top: -26px;
    border-bottom: 13px solid #ffffff;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
}
.menuOneColumn{
    width:300px;
    margin-left: -110px;
}

.menuTwoColumn{
    width:575px;
    margin-left:-267.5px;
}


.subMenuWrapper ul{
    float:left;
    box-sizing:border-box;
    -moz-box-sizing:border-box;
    -webkit-box-sizing:border-box;
}

.subMenuLeft{
    padding:2em;
    padding-right:0px;
}

.menuTwoColumn .subMenuLeft{
    width:40%;
}

.subMenuRight{
    padding-top:30px;
    padding-left:40px;
    width:60%;
}

#megaMenu .subMenuLeft li{
    width:100%;
    line-height:2em;
}

#megaMenu .subMenuLeft ul{
    margin:0 0.5em;
}

#megaMenu .subMenuLeft ul li{
    line-height:1.5em;
    font-style:italic;
    font-weight:normal;
}

#megaMenu .subMenuLeft ul li a{
    font-weight:normal;
    display: block;
}
/*END MEGAMENU*/
/*BEGIN MIDMENU*/
  .midMenuWrapper{
    background:#fff;
    background:url('/images/prospectivemenubg.jpg');
    border:1px solid #d9d8d2;
    padding:3em 2em;
  }

  .midMenuWrapper .menuHeader{
    text-transform:uppercase;
    color:#258f6c;
    font-size:1.2em;
    font-weight:900;
    padding-bottom:0.5em;
  }

  .midMenuWrapper a{
    color:#444444;
    text-decoration:none;
  }

  .midMenuWrapper{
    /*Background image for menu background:url(http://placehold.it/1012x220) 50% 50% no-repeat;*/
    background-size:cover;
  }

  .midMenuWrapper div.menuBlock{
    display:inline-block;
    vertical-align:top;
    margin-right:3em;
  }

  .midMenuWrapper .primary-button{
    color:#fff;
    margin-top:1em;
  }

