.med-span1, .med-span2, .med-span3, .med-span4, .med-span5, .med-span6,
.med-span7, .med-span8, .med-span9, .med-span10, .med-span11, .med-span12 {
    display: block;
    float: left;
    width: 100%;
    min-height: 37px;
    margin-left: 2.127659574468085%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.med-span12 {
    width: 100%;
    *width: 99.94680851063829%;
    margin-left: 0;
}
.med-span11 {
    width: 91.48936170212765%;
    *width: 91.43617021276594%;
}
.med-span10 {
    width: 82.97872340425532%;
    *width: 82.92553191489361%;
}
.med-span9 {
    width: 74.46808510638297%;
    *width: 74.41489361702126%;
}
.med-span8 {
    width: 65.95744680851064%;
    *width: 65.90425531914893%;
}
.med-span7 {
    width: 57.44680851063829%;
    *width: 57.39361702127659%;
}
.med-span6 {
    width: 48.93617021276595%;
    *width: 48.88297872340425%;
}
.med-span5 {
    width: 40.42553191489362%;
    *width: 40.37234042553192%;
}
.med-span4 {
    width: 31.914893617021278%;
    *width: 31.861702127659576%;
}
.med-span3 {
    width: 23.404255319148934%;
    *width: 23.351063829787233%;
}
.med-span2 {
    width: 14.893617021276595%;
    *width: 14.840425531914894%;
}
.med-span1 {
    width: 6.382978723404255%;
    *width: 6.329787234042553%;
}

/*FIXED NAV ICONS*/

#globalHeader{
    height: 54px;
}

#ghNav{
    position:relative;
}
#ghNav {
    text-align: justify;
    width: 100%;
    margin: auto;
}
#ghNav:after {
    content: ' ';
    display: inline-block;
    width: 100%;
}
#blogFeed{
    padding-right: 10px;
    border-right:1px solid #dedede;
}
#feedContainer .row >div{
    padding: 10px;
}
#feedContainer .row > .thumbnail {
    padding: 0;
}
.listContentOne{
    width:260px;
}
.alignnone {
    margin: 5px 20px 20px 0;
}

.aligncenter, div.aligncenter {
    display: block;
    margin: 5px auto 5px auto;
}

.alignright {
    float: right;
    margin: 5px 0 20px 20px;
}

.alignleft {
    float: left;
    margin: 5px 20px 20px 0;
}

.aligncenter {
    display: block;
    margin: 5px auto 5px auto;
}
.row.staff-row .span4:nth-child(2n+1), .med-twocol > .med-span6:nth-child(2n+1) {
    margin-left:  0;
}