/**
 * GC Base CSS v.1.1.0
 * Copyright 2013 GoldenComm.com All Rights Reserved
 * http://goldencomm.com
 */

/**
 * normalize.css v2.1.2 | MIT License | git.io/normalize
 */
article, aside, details, figcaption, figure, footer, header, hgroup, main, nav, section, summary {
    display: block;
}

audio, canvas, video {
    display: inline-block;
}

audio:not([controls]) {
    display: none;
    height: 0;
}

[hidden], .hidden, .display-none {
    display: none;
}

/* ==========================================================================
   Base
   ========================================================================== */
html {
    
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}

body {
    margin: 0;
    font-size: 13px;
    line-height: 20px;
    font-family: "Open Sans", Arial, sans-serif;
    color:#444;
}

img {
    max-width: 100%;
}
.toppad {
    padding-top: 1em;
}
.hideMobile {
    display: none !important;  
}
.left {
    float: left;
}

.right {
    float: right;
}

.nomargleft {
  margin-left: 0 !important;
}

.clear:after, .row:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
}

* html .clear, * html .row {
    zoom: 1;
}

*:first-child+html .clear, *:first-child+html .row {
    zoom: 1;
}

/* ==========================================================================
   Links
   ========================================================================== */
a {
    color: #258f6c;
    text-decoration: none;
}

a:focus {
    outline: thin dotted;
}

a:active,
a:hover {
    outline: 0;
    text-decoration: underline;
}

/* ==========================================================================
   Typography
   ========================================================================== */
h1, h2, h3, h4, h5, h6 {
    line-height: 1;
    margin: 0 0 0.6em 0;
    font-family: 'Andada', serif;
}

h1 a, h2 a, h3 a, h4 a, h5 a, h6 a {
    /* Sometimes anchors within a heading need different styling */
}

h1 {
    font-size: 2.76em;
}

h2 {
    font-size: 2.4em;
    margin: 0 0 0.5em 0;
}

h3 {
    font-size: 1.84em;
}

h4 {
    font-size: 1.5em;
}

h5 {
    font-size: 1.33em;
}

h6 {
    font-size: 1em;
}

p {
    margin: 0 0 1.5em 0;
}

abbr[title] {
    border-bottom: 1px dotted;
}

b, strong {
    font-weight: bold;
}

dfn {
    font-style: italic;
}

hr {
    -moz-box-sizing: content-box;
    box-sizing: content-box;
    display: block;
    height: 0px;
    border: 0px;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
    margin: 30px 0px;
}

hr.thin {
    margin: 1em 0;
}

cite, address {
    font-style: normal;
}

mark {
    background: #ff0;
    color: #000;
}

code, kbd, pre, samp {
    font-family: Consolas, monospace, serif;
    font-size: 1em;
}

pre {
    white-space: pre-wrap;
}

q {
    quotes: "\201C" "\201D" "\2018" "\2019";
}

small {
    font-size: 80%;
}

sub, sup {
    font-size: 75%;
    line-height: 0;
    position: relative;
    vertical-align: baseline;
}

sup {
    top: -0.5em;
}

sub {
    bottom: -0.25em;
}

/* Text alignment classes */
.text-left {
    text-align: left;
}

.text-center {
    text-align: center;
}

.text-right {
    text-align: right;
}

/* Text emphasis classes */
.text-warning, .warning {
    color: #e99f00;
}

.text-error, .error {
    color: #e30000;
}

.text-info, .info {
    color: #3765ae;
}

.text-success, .success {
    color: #5a9917;
}

/* Blockquotes */
q:before, q:after, blockquote:before, blockquote:after {
    content: "";
}

blockquote {
    padding: 5px 0 5px 15px;
    margin: 0 0 15px;
    border-left: 3px solid #48B06B;
    font-style: italic;
}

blockquote.right {
    float: right;
    padding: 5px 15px 5px 0;
    border-right: 3px solid #48B06B;
    border-left: 0;
    text-align: right;
}

blockquote p {
    margin-bottom: 0;
    font-size: 1.5em;
    font-weight: 300;
    line-height: 1.25;
}

blockquote small {
    display: block;
    line-height: 20px;
    color: #999;
    font-style: normal;
}

blockquote small:before {
    content: "— \00A0";
}

address {
    margin-bottom: 1.5em;
    line-height: 20px;
    display: block;
}

/* Lists */
ul, ol, dt, li , dd{
    margin: 0;
    padding: 0;
    list-style: none;
}

ul.bullets,
ol.numbered,
ul.bullets ul,
ol.numbered ol {
    margin: 0 0 10px 25px;
}

ul.bullets li, ol.numbered li {
    line-height: 20px;
}

ul.bullets li, ul.bullets ol.numbered li {
    list-style: square;
}

ul.bullets li li,
ul.bullets ol.numbered li li {
    list-style: circle;
}

ul.bullets li li li,
ul.bullets ol.numbered li li li {
    list-style: square;
}

ol.numbered li,
ul.bullets ol.numbered li {
    list-style: decimal;
}

ol.numbered li li,
ul.bullets ol.numbered li li {
    list-style: lower-alpha;
}

@media print {
    * {
        color: #000 !important;
        text-shadow: none !important;
        background: transparent !important;
        box-shadow: none !important;
    }

    a {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    .ir a:after,
    a[href^="javascript:"]:after,
    a[href^="#"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    thead {
        display: table-header-group;
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    @page {
        margin: 0.5cm;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}

/* ==========================================================================
   Grids
   ========================================================================== */
.container {
    margin: 0 auto;
    /*padding: 0 20px;*/
    position: relative;
    z-index: 1;

    
}
.row{
    width: 100%;
    margin: 0;
}
.gap {
    margin-bottom: 1em;
}
.fullwidth {
  width: 100%;
}
.span1, .span2, .span3, .span4, .span5, .span6,
.span7, .span8, .span9, .span10, .span11, .span12 {
    display: block;
    float: left;
    width: 100%;
    min-height: 37px;
    margin-left: 0%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.alignnone, .aligncenter, div.aligncenter, .alignright, .alignleft, .aligncenter {
    display: block;
    float: none;
    margin: 1em auto;
}
.sm-span1, .sm-span2, .sm-span3, .sm-span4, .sm-span5, .sm-span6,
.sm-span7, .sm-span8, .sm-span9, .sm-span10, .sm-span11, .sm-span12 {
    display: block;
    float: left;
    width: 100%;
    min-height: 37px;
    margin-left: 2.127659574468085%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.form-row [class*="span"]{
    margin-left: 0;
}
.form-row [class*="span"] + [class*="span"]{
    margin-left: 2.127659574468085%;
}
.row [class*="span"]:first-child{
    margin-left: 0;
}
.sm-span12 {
    width: 100%;
    margin-left: 0;
    *width: 99.94680851063829%;
}
.sm-span11 {
    width: 91.48936170212765%;
    *width: 91.43617021276594%;
}
.sm-span10 {
    width: 82.97872340425532%;
    *width: 82.92553191489361%;
}
.sm-span9 {
    width: 74.46808510638297%;
    *width: 74.41489361702126%;
}
.sm-span8 {
    width: 65.95744680851064%;
    *width: 65.90425531914893%;
}
.sm-span7 {
    width: 57.44680851063829%;
    *width: 57.39361702127659%;
}
.sm-span6 {
    width: 48.93617021276595%;
    *width: 48.88297872340425%;
}
.sm-span5 {
    width: 40.42553191489362%;
    *width: 40.37234042553192%;
}
.sm-span4 {
    width: 31.914893617021278%;
    *width: 31.861702127659576%;
}
.sm-span3 {
    width: 23.404255319148934%;
    *width: 23.351063829787233%;
}
.sm-span2 {
    width: 14.893617021276595%;
    *width: 14.840425531914894%;
}

.sm-span1 {
    width: 6.382978723404255%;
    *width: 6.329787234042553%;
}
.offset12 {
    margin-left: 104.25531914893617%;
    *margin-left: 104.14893617021275%;
}
.offset12:first-child {
    margin-left: 102.12765957446808%;
    *margin-left: 102.02127659574467%;
}
.offset11 {
    margin-left: 95.74468085106382%;
    *margin-left: 95.6382978723404%;
}
.offset11:first-child {
    margin-left: 93.61702127659574%;
    *margin-left: 93.51063829787232%;
}
.offset10 {
    margin-left: 87.23404255319149%;
    *margin-left: 87.12765957446807%;
}
.offset10:first-child {
    margin-left: 85.1063829787234%;
    *margin-left: 84.99999999999999%;
}
.offset9 {
    margin-left: 78.72340425531914%;
    *margin-left: 78.61702127659572%;
}
.offset9:first-child {
    margin-left: 76.59574468085106%;
    *margin-left: 76.48936170212764%;
}
.offset8 {
    margin-left: 70.2127659574468%;
    *margin-left: 70.10638297872339%;
}
.offset8:first-child {
    margin-left: 68.08510638297872%;
    *margin-left: 67.9787234042553%;
}
.offset7 {
    margin-left: 61.70212765957446%;
    *margin-left: 61.59574468085106%;
}
.offset7:first-child {
    margin-left: 59.574468085106375%;
    *margin-left: 59.46808510638297%;
}
.offset6 {
    margin-left: 53.191489361702125%;
    *margin-left: 53.085106382978715%;
}
.offset6:first-child {
    margin-left: 51.063829787234035%;
    *margin-left: 50.95744680851063%;
}
.offset5 {
    margin-left: 44.68085106382979%;
    *margin-left: 44.57446808510638%;
}
.offset5:first-child {
    margin-left: 42.5531914893617%;
    *margin-left: 42.4468085106383%;
}
.offset4 {
    margin-left: 36.170212765957444%;
    *margin-left: 36.06382978723405%;
}
.offset4:first-child {
    margin-left: 34.04255319148936%;
    *margin-left: 33.93617021276596%;
}

.offset3 {
    margin-left: 27.659574468085104%;
    *margin-left: 27.5531914893617%;
}
.offset3:first-child {
    margin-left: 25.53191489361702%;
    *margin-left: 25.425531914893618%;
}
.offset2 {
    margin-left: 19.148936170212764%;
    *margin-left: 19.04255319148936%;
}
.offset2:first-child {
    margin-left: 17.02127659574468%;
    *margin-left: 16.914893617021278%;
}
.offset1 {
    margin-left: 10.638297872340425%;
    *margin-left: 10.53191489361702%;
}
.offset1:first-child {
    margin-left: 8.51063829787234%;
    *margin-left: 8.404255319148938%;
}

.show-for-small,
.show-for-medium-down,
.show-for-large-down {
  display: inherit !important; }

.show-for-medium,
.show-for-medium-up,
.show-for-large,
.show-for-large-up,
.show-for-xlarge {
  display: none !important; }

.hide-for-medium,
.hide-for-medium-up,
.hide-for-large,
.hide-for-large-up,
.hide-for-xlarge {
  display: inherit !important; }

.hide-for-small, .hideMobile,
.hide-for-medium-down,
.hide-for-large-down {
  display: none !important; }

/* Specific visilbity for tables */
table.show-for-small, table.show-for-medium-down, table.show-for-large-down, table.hide-for-medium, table.hide-for-medium-up, table.hide-for-large, table.hide-for-large-up, table.hide-for-xlarge {
  display: table; }

thead.show-for-small, thead.show-for-medium-down, thead.show-for-large-down, thead.hide-for-medium, thead.hide-for-medium-up, thead.hide-for-large, thead.hide-for-large-up, thead.hide-for-xlarge {
  display: table-header-group !important; }

tbody.show-for-small, tbody.show-for-medium-down, tbody.show-for-large-down, tbody.hide-for-medium, tbody.hide-for-medium-up, tbody.hide-for-large, tbody.hide-for-large-up, tbody.hide-for-xlarge {
  display: table-row-group !important; }

tr.show-for-small, tr.show-for-medium-down, tr.show-for-large-down, tr.hide-for-medium, tr.hide-for-medium-up, tr.hide-for-large, tr.hide-for-large-up, tr.hide-for-xlarge {
  display: table-row !important; }

td.show-for-small, td.show-for-medium-down, td.show-for-large-down, td.hide-for-medium, td.hide-for-medium-up, td.hide-for-large, td.hide-for-large-up, td.hide-for-xlarge,
th.show-for-small,
th.show-for-medium-down,
th.show-for-large-down,
th.hide-for-medium,
th.hide-for-medium-up,
th.hide-for-large,
th.hide-for-large-up,
th.hide-for-xlarge {
  display: table-cell !important; }

/* Medium Displays: 768px - 1279px */
@media only screen and (min-width: 780px) {
  .show-for-medium,
  .show-for-medium-up {
    display: inherit !important; }

  .show-for-small {
    display: none !important; }

  .hide-for-small, .hideMobile {
    display: inherit !important; }
.hide-for-small.primary-button {
    display: inline-block !important;
}
  .hide-for-medium,
  .hide-for-medium-up {
    display: none !important; }

  /* Specific visilbity for tables */
  table.show-for-medium, table.show-for-medium-up, table.hide-for-small {
    display: table; }

  thead.show-for-medium, thead.show-for-medium-up, thead.hide-for-small {
    display: table-header-group !important; }

  tbody.show-for-medium, tbody.show-for-medium-up, tbody.hide-for-small {
    display: table-row-group !important; }

  tr.show-for-medium, tr.show-for-medium-up, tr.hide-for-small {
    display: table-row !important; }

  td.show-for-medium, td.show-for-medium-up, td.hide-for-small,
  th.show-for-medium,
  th.show-for-medium-up,
  th.hide-for-small {
    display: table-cell !important; } }
/* Large Displays: 1280px - 1440px */
@media only screen and (min-width: 1280px) {
  .show-for-large,
  .show-for-large-up {
    display: inherit !important; }

  .show-for-medium,
  .show-for-medium-down {
    display: none !important; }

  .hide-for-medium,
  .hide-for-medium-down {
    display: inherit !important; }
    .hide-for-medium.primary-button {
        display: inline-block !important;
    }
  .hide-for-large,
  .hide-for-large-up {
    display: none !important; }

  /* Specific visilbity for tables */
  table.show-for-large, table.show-for-large-up, table.hide-for-medium, table.hide-for-medium-down {
    display: table; }

  thead.show-for-large, thead.show-for-large-up, thead.hide-for-medium, thead.hide-for-medium-down {
    display: table-header-group !important; }

  tbody.show-for-large, tbody.show-for-large-up, tbody.hide-for-medium, tbody.hide-for-medium-down {
    display: table-row-group !important; }

  tr.show-for-large, tr.show-for-large-up, tr.hide-for-medium, tr.hide-for-medium-down {
    display: table-row !important; }

  td.show-for-large, td.show-for-large-up, td.hide-for-medium, td.hide-for-medium-down,
  th.show-for-large,
  th.show-for-large-up,
  th.hide-for-medium,
  th.hide-for-medium-down {
    display: table-cell !important; } }
/* X-Large Displays: 1400px and up */
@media only screen and (min-width: 1440px) {
  .show-for-xlarge {
    display: inherit !important; }

  .show-for-large,
  .show-for-large-down {
    display: none !important; }

  .hide-for-large,
  .hide-for-large-down {
    display: inherit !important; }

  .hide-for-xlarge {
    display: none !important; }

  /* Specific visilbity for tables */
  table.show-for-xlarge, table.hide-for-large, table.hide-for-large-down {
    display: table; }

  thead.show-for-xlarge, thead.hide-for-large, thead.hide-for-large-down {
    display: table-header-group !important; }

  tbody.show-for-xlarge, tbody.hide-for-large, tbody.hide-for-large-down {
    display: table-row-group !important; }

  tr.show-for-xlarge, tr.hide-for-large, tr.hide-for-large-down {
    display: table-row !important; }

  td.show-for-xlarge, td.hide-for-large, td.hide-for-large-down,
  th.show-for-xlarge,
  th.hide-for-large,
  th.hide-for-large-down {
    display: table-cell !important; } }
/* Orientation targeting */
.show-for-landscape,
.hide-for-portrait {
  display: inherit !important; }

.hide-for-landscape,
.show-for-portrait {
  display: none !important; }

/* Specific visilbity for tables */
table.hide-for-landscape, table.show-for-portrait {
  display: table; }

thead.hide-for-landscape, thead.show-for-portrait {
  display: table-header-group !important; }

tbody.hide-for-landscape, tbody.show-for-portrait {
  display: table-row-group !important; }

tr.hide-for-landscape, tr.show-for-portrait {
  display: table-row !important; }

td.hide-for-landscape, td.show-for-portrait,
th.hide-for-landscape,
th.show-for-portrait {
  display: table-cell !important; }

@media only screen and (orientation: landscape) {
  .show-for-landscape,
  .hide-for-portrait {
    display: inherit !important; }

  .hide-for-landscape,
  .show-for-portrait {
    display: none !important; }

  /* Specific visilbity for tables */
  table.show-for-landscape, table.hide-for-portrait {
    display: table; }

  thead.show-for-landscape, thead.hide-for-portrait {
    display: table-header-group !important; }

  tbody.show-for-landscape, tbody.hide-for-portrait {
    display: table-row-group !important; }

  tr.show-for-landscape, tr.hide-for-portrait {
    display: table-row !important; }

  td.show-for-landscape, td.hide-for-portrait,
  th.show-for-landscape,
  th.hide-for-portrait {
    display: table-cell !important; } }
@media only screen and (orientation: portrait) {
  .show-for-portrait,
  .hide-for-landscape {
    display: inherit !important; }

  .hide-for-portrait,
  .show-for-landscape {
    display: none !important; }

  /* Specific visilbity for tables */
  table.show-for-portrait, table.hide-for-landscape {
    display: table; }

  thead.show-for-portrait, thead.hide-for-landscape {
    display: table-header-group !important; }

  tbody.show-for-portrait, tbody.hide-for-landscape {
    display: table-row-group !important; }

  tr.show-for-portrait, tr.hide-for-landscape {
    display: table-row !important; }

  td.show-for-portrait, td.hide-for-landscape,
  th.show-for-portrait,
  th.hide-for-landscape {
    display: table-cell !important; } }
/* Touch-enabled device targeting */
.show-for-touch {
  display: none !important; }

.hide-for-touch {
  display: inherit !important; }

.touch .show-for-touch {
  display: inherit !important; }

.touch .hide-for-touch {
  display: none !important; }

/* Specific visilbity for tables */
table.hide-for-touch {
  display: table; }

.touch table.show-for-touch {
  display: table; }

thead.hide-for-touch {
  display: table-header-group !important; }

.touch thead.show-for-touch {
  display: table-header-group !important; }

tbody.hide-for-touch {
  display: table-row-group !important; }

.touch tbody.show-for-touch {
  display: table-row-group !important; }

tr.hide-for-touch {
  display: table-row !important; }

.touch tr.show-for-touch {
  display: table-row !important; }

td.hide-for-touch {
  display: table-cell !important; }

.touch td.show-for-touch {
  display: table-cell !important; }

th.hide-for-touch {
  display: table-cell !important; }

.touch th.show-for-touch {
  display: table-cell !important; }

/* ==========================================================================
   Embedded content
   ========================================================================== */
img {
    border: 0;
}
svg:not(:root) {
    overflow: hidden;
}

/* ==========================================================================
   Forms
   ========================================================================== */
form {
    margin: 0;
    padding: 0;
}

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

legend {
    display: block;
    width: 100%;
    padding: 0;
    margin-bottom: 20px;
    font-size: 21px;
    line-height: 40px;
    color: #333333;
    border: 0;
    border-bottom: 1px solid #e5e5e5;
}

label {
    display: block;
    margin: 5px
}

/* reset to defaults */
button[disabled],
html input[disabled] {
    cursor: default;
}

input[type="checkbox"],
input[type="radio"] {
    box-sizing: border-box; /* 1 */
    padding: 0; /* 2 */
}

input[type="search"] {
    -webkit-appearance: textfield; /* 1 */
    -moz-box-sizing: content-box;
    -webkit-box-sizing: content-box; /* 2 */
    box-sizing: content-box;
}

input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
    -webkit-appearance: none;
}

button::-moz-focus-inner,
input::-moz-focus-inner {
    border: 0;
    padding: 0;
}

textarea {
    font-family: 'Open Sans';
    height: auto;
    min-height: 80px;
}

input, textarea, .uneditable-input {
    width: 206px;
}

textarea {
    overflow: auto; /* 1 */
    vertical-align: top; /* 2 */
}

label,
select,
button,
input[type="button"],
input[type="reset"],
input[type="submit"],
input[type="radio"],
input[type="checkbox"] {
    cursor: pointer;
}

label,
select,
button,
input[type="button"],
input[type="reset"],
input[type="submit"],
input[type="radio"],
input[type="checkbox"] {
    font-size: inherit;
    font-weight: normal;
    line-height: inherit;
}

select,
textarea,
input[type="text"],
input[type="password"],
input[type="datetime"],
input[type="datetime-local"],
input[type="date"],
input[type="month"],
input[type="time"],
input[type="week"],
input[type="number"],
input[type="email"],
input[type="url"],
input[type="search"],
input[type="tel"],
input[type="color"],
.uneditable-input {
    width: 100%;
    height: 37px;
    display: inline-block;
    padding: 8px 6px;
    font-size: 14px;
    line-height: 1;
    color: #555555;
    background-color: #fdfdfd;
    border: 1px solid #cccccc;
    vertical-align: middle;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-transition: border linear 0.2s, box-shadow linear 0.2s;
    -moz-transition: border linear 0.2s, box-shadow linear 0.2s;
    -o-transition: border linear 0.2s, box-shadow linear 0.2s;
    transition: border linear 0.2s, box-shadow linear 0.2s;
}

select:focus,
textarea:focus,
input[type="text"]:focus,
input[type="password"]:focus,
input[type="datetime"]:focus,
input[type="datetime-local"]:focus,
input[type="date"]:focus,
input[type="month"]:focus,
input[type="time"]:focus,
input[type="week"]:focus,
input[type="number"]:focus,
input[type="email"]:focus,
input[type="url"]:focus,
input[type="search"]:focus,
input[type="tel"]:focus,
input[type="color"]:focus,
.uneditable-input:focus {
    background: #ffffff;
    border-color: #6CBCA2;
    outline: 0;
}

input[type="radio"],
input[type="checkbox"] {
    margin: 4px 0 0;
    line-height: normal;
    width: auto;
}

select {
    background-color: #ffffff;
    border: 1px solid #cccccc;
}

select, input[type="file"] {
    height: 37px;
}

.checkbox,
.radio {
    padding-left: 20px;
}

.checkbox input[type="checkbox"],
.radio input[type="radio"] {
    float: left;
    margin-left: -20px;
}

/* input sizing */
.input-tiny {
    width: 40px
}

.input-small {
    width: 90px;
}

.input-medium {
    width: 180px;
}

.input-large {
    width: 320px;
}

.input-xlarge {
    width: 500px;
}

.input-xxlarge {
    width: 650px;
}

input[class*="span"],
select[class*="span"],
textarea[class*="span"],
label[class*="span"],
.uneditable-input[class*="span"] {
    float: none;
    margin-left: 0;
    display: block;
}

.form-row {
    margin-bottom: 10px;
}

.form-row:before, .form-row:after {
    display: table;
    line-height: 0;
    content: "";
}

.form-row:after {
    clear: both;
}

.form-row [class*="span"] {
    float: left;
}

.form-row [class*="span"] + [class*="span"] {
    margin-left: 20px;
}

input.span1, textarea.span1 {
    width: 52px
}

input.span2, textarea.span2 {
    width: 138px
}

input.span3, textarea.span3 {
    width: 224px;
}

input.span4, textarea.span4 {
    width: 310px;
}

input.span5, textarea.span5 {
    width: 396px;
}

input.span6, textarea.span6 {
    width: 482px;
}

input.span7, textarea.span7 {
    width: 568px;
}

input.span8, textarea.span8 {
    width: 654px;
}

input.span9, textarea.span9 {
    width: 740px;
}

input.span10, textarea.span10 {
    width: 826px;
}

input.span11, textarea.span11 {
    width: 912px;
}

input.span12, textarea.span12 {
    width: 998px;
}

/* validation states */
input.warning, textarea.warning,
input.warning:focus, textarea.warning:focus,
.warning input, .warning input:focus,
.warning textarea, .warning textarea:focus {
    border-color: #e99f00;
    color: #e99f00;
}

input.error, textarea.error,
input.error:focus, textarea.error:focus,
.error input, .error input:focus,
.error textarea, .error textarea:focus {
    border-color: #e30000;
    color: #e30000;
}

input.info, textarea.info,
input.info:focus, textarea.info:focus,
.info input, .info input:focus,
.info textarea, .info textarea:focus {
    border-color: #3765ae;
    color: #3765ae;
}

input.success, textarea.success,
input.success:focus, textarea.success:focus,
.success input, .success input:focus,
.success textarea, .success textarea:focus {
    border-color: #5a9917;
    color: #5a9917;
}

/* ==========================================================================
   Buttons
   ========================================================================== */
button, html input[type=button], input[type=reset], input[type=submit] {
    -webkit-appearance: button;
	cursor: pointer;
	margin: 0;
	font-size:1.39em;
	padding:0.5em 1.5em 0.46em;
}

.button, .primary-button, .secondary-button {
    /*font-family: inherit;*/
    display: inline-block;
    zoom: 1;
    vertical-align: baseline;
    text-align: center;
    cursor: pointer;

    -webkit-user-drag: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;

    width: auto;

    font-size: 1.4em;
    /*font-size: 100%;*/
    padding: .5em 1.5em;

    color: #444;
    color: rgba(0, 0, 0, .8);

    border: 1px solid #999;
    border: 0 rgba(0, 0, 0, 0);

    background-color: #E6E6E6;
    text-decoration: none;
    /*border-radius: 2px;*/
    -webkit-font-smoothing: antialiased;
	-webkit-transition: .1s linear -webkit-box-shadow;
	-moz-transition: .1s linear -moz-box-shadow;
	-ms-transition: .1s linear box-shadow;
	-o-transition: .1s linear box-shadow;
	transition: .1s linear box-shadow;
	-webkit-font-smoothing: antialiased;
	-webkit-transition: .1s linear background;
	-moz-transition: .1s linear background;
	-ms-transition: .1s linear background;
	-o-transition: .1s linear background;
	transition: .1s linear background;
	font-family: 'Andada', serif;
}

.button:hover {
    background:#d8d8d8;
}

.primary-button {
    background: #258f6c;
    color: #fff;
}

.primary-button:hover 
{
    background:#20a77a;

}

.secondary-button {
    background: #333;
    color: rgba(255,255,255,.8);
    }

.secondary-button:hover 
{
    background:#454545;

}
/*
.button:hover, .primary-button:hover, .secondary-button:hover {
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(transparent), color-stop(40%, rgba(0, 0, 0, .05)), to(rgba(0, 0, 0, .1)));
    background-image: -webkit-linear-gradient(transparent, rgba(0, 0, 0, .05) 40%, rgba(0, 0, 0, .1));
    background-image: -moz-linear-gradient(top, rgba(0, 0, 0, .05) 0, rgba(0, 0, 0, .1));
    background-image: -ms-linear-gradient(transparent, rgba(0, 0, 0, .05) 40%, rgba(0, 0, 0, .1));
    background-image: -o-linear-gradient(transparent, rgba(0, 0, 0, .05) 40%, rgba(0, 0, 0, .1));
    background-image: linear-gradient(transparent, rgba(0, 0, 0, .05) 40%, rgba(0, 0, 0, .1));
}*/

.button:hover, .primary-button:hover, .secondary-button:hover,
.button:focus, .primary-button:focus, .secondary-button:focus {
    text-decoration: none;
    outline: 0;
}

.button:active, .primary-button:active, .secondary-button:active {
    box-shadow: 0 0 0 1px rgba(0, 0, 0, .15) inset, 0 0 6px rgba(0, 0, 0, .6) inset;
    -moz-box-shadow: 0 0 0 1px rgba(0, 0, 0, .15) inset, 0 0 6px rgba(0, 0, 0, .6) inset;
    -webkit-box-shadow: 0 0 0 1px rgba(0, 0, 0, .15) inset, 0 0 6px rgba(0, 0, 0, .6) inset;
}

.button-tiny,
.button.button-tiny {
    font-size: .7em;
    padding: .2em .7em;
}

.button-small,
.button.button-small {
    font-size: .85em;
    padding: 0.4em 1em;
}

.button-large,
.button.button-large {
    font-size: 1.5em;
    padding: .8em 2.1em;
}

.button-xlarge,
.button.button-xlarge {
    font-size: 1.6em;
    padding: 1em 2.6em;
}

input[type=text] + .button {
    margin: 0
}

/* ==========================================================================
   Tables
   ========================================================================== */
table {
    border-collapse: collapse;
    border-spacing: 0;
}

.table {
    border-collapse: collapse;
    border-spacing: 0;
    empty-cells: show;
    border: 1px solid #369C51;
}

.table thead {
    background: rgb(72,176,107); /* Old browsers */
background: -moz-linear-gradient(top, rgba(72,176,107,1) 0%, rgba(54,156,81,1) 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(72,176,107,1)), color-stop(100%,rgba(54,156,81,1))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top, rgba(72,176,107,1) 0%,rgba(54,156,81,1) 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top, rgba(72,176,107,1) 0%,rgba(54,156,81,1) 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top, rgba(72,176,107,1) 0%,rgba(54,156,81,1) 100%); /* IE10+ */
background: linear-gradient(to bottom, rgba(72,176,107,1) 0%,rgba(54,156,81,1) 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#48b06b', endColorstr='#369c51',GradientType=0 ); /* IE6-9 */
    color: #000;
    text-align: left;
    vertical-align: bottom;
    white-space: nowrap;
}

.table td:first-child, .table th:first-child {
    border-left-width: 0;
}
.table th
{
    padding: 10px 15px;
    font-family: 'Andada', serif;
    color:#fff;
    font-size:1.2em;
    font-weight:400;
    vertical-align:middle;
    }
.table td
{
    padding: 6px 15px;
    font-size:1em;
    } 
.table td, .table th {
    border-left: 1px solid #369C51;
    border-width: 0 0 0 1px;
    /*font-size: inherit;*/
    
    margin: 0;
    overflow: visible;

    
}

.table td {
    background: transparent;
}

.table-bordered td, .table-bordered th {
    border-bottom: 1px solid #369C51;
}

.table-horizontal td, .table-horizontal th {
    border-width: 0 0 1px;
    border-bottom: 1px solid #369C51;
}

.table-striped tr:nth-child(odd) td {
    background: #f7f6f0;
}

/* ==========================================================================
   Titles and Boxes
   ========================================================================== */
.title1, .title2, .title3, .title4 {
    padding: 10px 20px;
    margin: 0 0 .83em;
}

.title1 {
    /*border-bottom: 1px dashed #ccc;*/
    color:#333333;
    padding:0px;
    font-weight: 300;
}

.title2 {
/*    border: 1px solid rgba(0, 0, 0, 0.3);*/
    /*background: #F7C932;*/
    color: #d1aa21;
    padding:0px;
    font-weight: 300;
    /*border-radius: 4px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    text-transform: uppercase;*/
}

.title3 {

    color: #025b24;
    padding: 0px;
    font-weight: 300;
   /* border: 1px solid rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;*/
}

.title4 {

    color: #333333;
    font-family: "Open Sans", Arial, sans-serif;
    padding:0px;
    text-transform:uppercase;
}

/*[class*="box"] .title4 {
    margin-left: -20px;
}*/

.title1[class*="span"],
.title2[class*="span"],
.title3[class*="span"],
.title4[class*="span"] {
    float: none;
}

.box1, .box2, .box3, .box4, .box5 {
    padding: 20px;
    /*border-radius: 4px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;*/
}

.box1 {
    background: #dfac24;
    /*box-shadow: 0 0 4px rgba(0, 0, 0, 0.3);*/
    color:#fff;
}
.box1 .title1, .box1 .title2, .box1 .title3, .box1 .title4
{
    color:#fff;
    text-shadow:0px 1px 0px rgba(0,0,0,0.3);
    }

.box2 {
    background: #d1aa21;
    color: #000;
    padding:3em 1.5em;
}

.box3 {
    background: #f7f6f0;
    /*box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.3);
    -moz-box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.3);
    -webkit-box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.3);*/
}

.box4 {
    background: #5a9917;
    color: #000;
    /*border: 1px solid rgba(0, 0, 0, .2);*/
}
.box4 input
{
    margin-right:5px;
    }
	
.box5{
	background: #f7f6f0;
	border:solid 1px #d9d8d2;
	margin:1.5em 0em;
}

/* adds box sizing property for boxes using grid system */
.box1[class*="span"],
.box2[class*="span"],
.box3[class*="span"],
.box4[class*="span"] {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}
.box-gold, .box1.box-gold
{
    background:#dfac24;
    }
.box-green, .box1.box-green
{
    background:#48b06b;
    }
.box-orange, box1.box-orange
{
    background:#dc9164;
    }
.box-blue{
    background:#539bb5;
}
.box2 .title4
{
    text-transform:none;
    margin-bottom:5px;
    font-size:1.7em;
    line-height:0.7em;
    color:#fff;
    text-shadow:0px 1px 0px rgba(0,0,0,0.3);
    }
.box3
{
    
    }    
.box3 .title3
{
    margin-bottom:5px;
    }
.box3 .title2
{
    font-size:6.3em;
    color:#d1aa21;
    font-family: "Open Sans", Arial, sans-serif;
    margin:0px 0px 10px;
    font-weight:400;
    letter-spacing:-2px;
    }
.box3 .title4
{

    font-size:.92em;
    text-transform:uppercase;
    margin-bottom:10px;
    }
.box4 .title3
{
    color:#fff;
    text-shadow:0px 1px 0px rgba(0,0,0,0.2);
    }
/* ==========================================================================
   Wordpress Core Classes
   ========================================================================== */

a img.alignright {
    float: right;
    margin: 5px 0 20px 20px;
}

a img.alignnone {
    margin: 5px 20px 20px 0;
}

a img.alignleft {
    float: left;
    margin: 5px 20px 20px 0;
}

a img.aligncenter {
    display: block;
    margin-left: auto;
    margin-right: auto
}
.wp-caption {
    background: #fff;
    border: 1px solid #f0f0f0;
    max-width: 96%; /* Image does not overflow the content area */
    padding: 5px 3px 10px;
    text-align: center;
}

.wp-caption.alignnone {
    margin: 5px 20px 20px 0;
}

.wp-caption.alignleft {
    margin: 5px 20px 20px 0;
}

.wp-caption.alignright {
    margin: 5px 0 20px 20px;
}

.wp-caption img {
    border: 0 none;
    height: auto;
    margin: 0;
    max-width: 98.5%;
    padding: 0;
    width: auto;
}

.wp-caption p.wp-caption-text {
    font-size: 11px;
    line-height: 17px;
    margin: 0;
    padding: 0 4px 5px;
}

/* ==========================================================================
   Site Styling
   ========================================================================== */
h1.color-green, .color-green h1,
h2.color-green, .color-green h2,
h3.color-green, .color-green h3,
h4.color-green, .color-green h4,
h5.color-green, .color-green h5,
h6.color-green, .color-green h6
{
    color:#025b24;
    }
    
.open-sans,
.open-sans h1,
.open-sans h2,
.open-sans h3,
.open-sans h4,
.open-sans h5,
.open-sans h6
{
     font-family: "Open Sans", Arial, sans-serif;
    }
    
.box1 ul li i
{
    margin-right:5px;
    }
	
.italic{
	font-style:italic;
}

.uppercase{
	text-transform:uppercase;
}

.bold{
	font-weight:bold;
}

.container{
}

blockquote + blockquote{ margin: 2.5em 0; }

/* AO ADDED */
.staff-row {
    margin-bottom: 2.5em;
}

.staffBio > ul li, .listStyle1 {
    margin-bottom: 1.3em;
}

.sfaffBio > ul li strong {
    display: block;
}

.outcome-facts {
}

.outcome-facts .row {
    margin-bottom: 2.6em;
}

.outcome-facts .row .num {
    font-size: 2.5em;
    color: #20a77a;
    line-height: 1;
    margin-bottom: .25em;
    font-weight: 600;
    letter-spacing: -1px;
}
.outcome-facts .row .title4{
    padding: 0 2em;
    font-weight: 300;
}
.outcome-facts .row .title4 small{
    text-transform: none;
}
.ContactForm .row {
    margin-bottom: 10px;
}

*{
    box-sizing:border-box;
    -moz-box-sizing:border-box;
    -webkit-box-sizing:border-box;
}

body{
    background:#fff;
}


#wrapper{
    position:relative;
    top:54px;
    padding: 10px;
}

#mainContentWrap{
    margin-bottom:4em;
    z-index:10;
}

#mainContentWrap .sidebarWrapper, #mainContentWrap .page-content, #ctl00_ctl00_templateMainContent_sidebar_findYourPath, .page-shownews .page-content, .News {
    margin-top:4em;
}
.News img.left {
    padding-right:15px;
}
.sidebarWrapper {
    margin-bottom:4em;
}
.rowStyle1{
    background:#fff;
    height:auto;
    width:100%;
    padding:2em 0px;
    border-top:1px solid #d9d8d2;
}
.rowStyle2{
    background:#f7f6f0;
    height:auto;
    width: auto;
    padding: 1em;
    margin: 0 -10px;
    border-top:1px solid #d9d8d2;
}
.audienceVideoRow{
    background:#fff;
    height:auto;
    width:100%;
    padding:3em 0px;
}


.lastRow{
    padding:0px;
    padding-top:4em;
}

.pageTitle, .newstitle {
    margin-bottom:1em;
}
.newstitle {
    font-size:2.4em;
    margin:0 0 0.5em 0;
    line-height:1;
    font-weight:bold;
    font-family: 'Andada', serif;
}

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

/**
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */
.clearfix {
    *zoom: 1;
}

.fixedWidth{
    width:1012px; 
}

.secondaryLink{
    color:#898989;
}

.secondaryLink:hover{
    color:#258f6c;
}

.secondaryLink a{
    color:#898989;
}

.secondaryLink a:hover{
    color:#258f6c;
}

/*FIXED HEADER*/
.phoneNumber a {
    font-size: 1.2em;
    color: #333;
    font-weight: bold;
    text-decoration: none;
}
#globalHeaderWrapper{
    top:0px;
    background:#e6e6e6;
    position:fixed;
    z-index:30;
    width:100%;
}

#globalHeader{
    position:relative;
    margin:0 auto; 
}
#globalHeader #ghNav li a {
    display: block;
    font-size: 1.25em;
    padding: 0.25em 0.5em;
    border-bottom: 1px solid #CCC;
}
#ghLogo{
    display: none;
}
#mobileTopToggle {
    background-color: #ccc;
    a {
        font-size: 1.10em;
        display: block;
        color: #258F6C;
        text-align: center;
        padding: 0.5em 0;
        font-weight: bold;
    }
}


/*BEGIN BANNER*/
#bannerWrapper{
    height:382px;
    position:relative;
    overflow:hidden;
    width:100%;
    z-index:10;
    background:#000;
    /*For Responsive Banners 
        height: 0;
        padding-bottom: 50%;
    */
}

#subPageBannerWrapper{
    height:auto;
    max-height:291px;
    position:relative;
    overflow:hidden;
    width:100%;
    z-index:10;
    background:#000;
}

#subPageBanner{
    height:0;
    padding-bottom:30%;
    width:100%;
}

#banner{
left:50% !important;
margin-left:-506px;
position: relative;
overflow: visible !important;
height: 382px;
width: 100000px;
}


#banner .slide, #banner .slide div{
    width:1012px;
    height:382px;
}
#banner .slide {
    float:left;
    display:block;
    position:relative;
}

.slideLink{
    display:block;
    width:100%;
    height:100%;
}

/*BEGIN NAV LINKS*/
#bannerPrev,#bannerNext{
    position:absolute;
    height:53px;
    width:45px;
    cursor:pointer;
    z-index:3;
}

#bannerPrev:hover,#bannerNext:hover{
    text-decoration:none;
}

#bannerPrev{
    left:0;
    top:50%;
    margin-top:-26.5px;
    background:url('../images/prevArrow.png') 50% 50% no-repeat;
}

#bannerNext{
    right:0;
    top:50%;
    margin-top:-26.5px;
    background:url('../images/nextArrow.png') 50% 50% no-repeat;
}

#bannerNav {
    width: 220px;
    height: auto;
    margin: auto;
    position: absolute;
    top: 50px;
    left: 0;
    z-index: 999;
}

#bannerNav ul {
}

#bannerNav ul li {
}

#bannerNav ul li a {
    background: rgba(37, 143, 108, .8);
    color: #fff;
    padding: 25px 10px;
    text-align: center;
    font-size: 1.1em;
    font-weight: 600;
    text-transform: uppercase;
    -webkit-text-shadow: 0 1px 1px rgba(0,0,0,0.3);
    -moz-text-shadow: 0 1px 1px rgba(0,0,0,0.3);
    text-shadow: 0 1px 1px rgba(0,0,0,0.3);
    border-bottom: 1px solid #237159;
}
#bannerNav ul li:last-child a{
    border-bottom: none;
}
#bannerNav ul li a:hover{
    background: rgba(37, 143, 108, .95);
    text-decoration: none;
}

#bannerNav ul li, #bannerNav ul li a {
    display: block;
}


/*END NAV LINKS*/

#leftOverlay,#rightOverlay{
    position:absolute;
    top:0px;
    background:#fff;
     -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=75)";
    filter: alpha(opacity=75);
    -khtml-opacity: 0.75;
    -moz-opacity: 0.75;
    opacity: 0.75;
    height:382px;
    width:50%;
    z-index:2;
}
#leftOverlay{   
    left:-506px;
}

#rightOverlay{
    right:-506px;
}
/*END BANNER*/

/*BEGIN CALLOUTS*/
#callOutWrapper{
    border-bottom: none;
    padding-bottom: 3em;
}

#callOutHeader{
    margin:0 auto;
    text-align:center;
    color:#0a5640;
    font-size:32px;
    height:atuo;
    position:relative;

}

#homeCallOut{
  height:auto;
  line-height: 1em;
  padding: 10px 0;
}

.text-center {
  text-align: center;
}


div.centerline {
  position: relative;
  margin: auto;
  z-index: 5;
  display: inline-block;
  background-color: #fff;
 
}

#callOutButtonContainer{
    float:none;
    margin:0 auto;
}
div.callOuts{
    min-height:180px;
    padding:18px 30px;
    margin-bottom: 1em;
    box-sizing:border-box;
    -moz-box-sizing:border-box;
    -webkit-box-sizing:border-box;
}

#callOut1{
    background:url('../images/calloutbg1.png') #dfac24 top right no-repeat;
}

#callOut2{
    background:url('../images/calloutbg2.png') #48b06b top right no-repeat;
}

#callOut3{
    background:url('../images/calloutbg3.png') #dc9164 top right no-repeat;
}   

.callOuts h3{
    color:#fff;
    text-transform:uppercase;
    font-size:28px;
    font-family: "Open Sans", Arial, sans-serif;
    font-weight:normal;
}

.callOuts ul li{
    color:#fff;
    font-size:14px;
}
/*END CALOUTS*/

/*BEGIN NEWS SECTION*/


.newsBlock {
    li {
        display: block;
    }
}
h4.newsBlockTitle{
    color:#025b24;
    border-bottom:1px solid #d1d1d1;
}

.calendar{
    width:47px;
    position:relative;
    height:60px;
    float:left;
    padding:10px 0px;
}

.calendar .date,.calendar .month{
    text-align:center;
    width:100%;
    float:left;
    color:#147c37;
    text-transform:uppercase;
    
}

.calendar .month{
    font-weight:bold;
    font-size:11px;
}

.calendar .date{
    font-size:24px;
}


.listContentOne{
    min-height:60px;
    padding:10px;
    float:left;
    border-left: 1px solid #d1d1d1;
}

.thumbnail img{
    display:block;
}

.newsBlock{
    display:inline-block;
}

.newsBlock li, #newsFeed li, #blogFeed li {
    display:block;
    margin:10px 0px;
    clear: both;
}

.newsBlock p{
    margin:0px;
}

.newsBlock .highlight{
    color:#147c37;
}

.listContentOne .highlight{
    font-size:11px;
    text-transform:uppercase;
    font-weight:bold;
}

#feedContainer{
    border:solid 1px #d9d9d9;
    padding:34px 0px;
    background:#fff;
}

#blogFeed,#newsFeed{
    min-height:600px;
    position:relative;
}

#blogFeed>ul,#newsFeed>ul{
    margin-bottom:40px;
}


#feedContainer h3{
    font-size:24px;
    color:#025b24;
}

#feedContainer span{ display: block}
#feedContainer .feed-posts span > span{ margin-bottom: 20px; position: relative}
#feedContainer .feed-posts span > span span{ margin: 0; }

#feedContainer .highlight{
    font-size:13px;
    color:#147c37;
}

#feedContainer .row >div{
    padding: 10px;
}

#feedContainer ul li{
    margin-bottom:20px;
    padding-right:20px;
}

#feedContainer .readMore{
    position:absolute;
    right:20px;
    bottom:0px;
}
/*END NEWS SECTION*/

/*BEGIN MISSION*/
#mission{
    height:auto;
}

.missionWrapper{
    height:auto;
    position:relative;
    line-height:250px;
    text-align:center;
    
}

#missionLogos{
    width:100%;
    max-width:480px;
    height:auto;
    display: inline-block;
    vertical-align: middle;
}

.missionText{
    font-size:30px;
    line-height:1em;
    text-align:center;
    color:#434343;
    font-family: 'Sorts Mill Goudy', serif;
    font-style:italic;
    display: inline-block;
    vertical-align: middle;
    max-width:500px;
}
/*END MISSIONS*/
/*BEGIN FOOTER*/
#footer{
    display: table-cell;
    vertical-align: middle;
    height:114px;
    text-align: center;
}
#footerContainer{
    border-top:solid 1px #d9d8d2;
}

#footerLogo,#footerText,#footerLinks{
    display: inline-block;
    vertical-align: middle;
}

#footerText{
    margin-left:23px;
}

#footerLinks{
    margin-left:46px;
}

#footerLinks a{
    text-decoration:none;
}

#footerLinks li{
    display:inline-block;
}

#footerLinks li{
    padding:0 10px;
    border-left:1px solid #d9d8d2;
}

#footerLinks li:first-child{
    padding-left:0px;
    border:0px;
}

/*BEGIN SOCIAL LINKS*/
.icon-stack{
    font-size:20px;
    -webkit-transition:0.3s;
    transition:.3s;
}

.icon-circle{
    color:#626262;
    -webkit-transition:0.3s;
    transition:.3s;
}

#socialIcons{
    float:right;
}

#socialIcons li{
    float:left;
    margin-top:30px;
    /*line-height:114px;*/
}

#socialIcons li a{
    width:100%;
    height:100%;
    display:block;
}

#socialIcons a:hover {
    text-decoration: none;
}

#socialIcons li:hover{
    margin-top:25px;
}

#fbicon a:hover>.icon-circle{
    color:#45619d;
}   

#flickricon a:hover .icon-circle{
    color:#0063db;
}   

#twiticon a:hover .icon-circle{
    color:#38aee3;
}   

#googicon a:hover .icon-circle{
    color:#f64833;
}   

#blackboard{
    background:url("/images/icon-circle.png") 50% 50% no-repeat;
    height:40px;
    width:40px;
}

#blackboard:hover {
    background:url("/images/icon-circle-hover.png")50% 50% no-repeat;
    color:#f38c29;
}   

/*END SOCIAL LINKS*/
/*END FOOTER*/

/*BEGIN SIDEBAR*/
.sideBarWrapper>*{
    margin-top:20px;
}

.sideBarWrapper>*:first-child{
    margin:0px;
}

.sideBar{
    background:#f7f6f0;
    padding: 0px 20px;
    border:1px solid #d9d8d2;
}

.sideBar .sideBlock:first-child{
    border:none;
}


.sideBlock{
    border-top:solid 1px #d9d8d2;
    width:100%;
    padding:20px 0px;
}

.sideBlock  p.title{
    text-transform:uppercase;
    font-size:14px;
    color:#444444;
    margin:0px;
    font-weight:bold;
}

.sideNav{
    font-size:13px;
    
}

.sideNav a, section[id*="tellusWhoYouAre"] a{
    color:#444444;
}

.sideNav a:hover, section[id*="tellusWhoYouAre"] a:hover{
    text-decoration:none;
    color:#258f6c;
}

.sideNav li, section[id*="tellusWhoYouAre"] li{
    margin-top:10px;
}

.sideNav li ul li   {
    margin:0px;
    margin-left:10px;
    font-style:italic;
}

.sideNav li ul li.active>a{
    color:#258f6c;
}

.sideCall{
    display:block;
    width:100%;
    background:#dc9164;
    text-align:center;
    padding:1.5em 0em;
    text-decoration:none;
}

.sideCall .title{
    text-shadow: 0px 2px rgba(0, 0, 0, 0.5);
}


.sideCall:hover{
    text-decoration:none;
}

.sidebarWrapper .find-your-path{ margin-top: 1em; }
.sidebarWrapper .find-your-path img{ width: 100%; height: auto; }
.sidebarWrapper .find-your-path li{ margin-bottom: .3em; }
.sidebarWrapper section:first-of-type{ margin-top: 0; }
section[id*="findYourPath"]{ margin: 2em 0; }
section[id*="findYourPath"] h5{ color: #0a5640; font-family: "Open Sans", sans-serif; font-size: 1.19em; font-weight: 300; }
/*END SIDEBAR*/

/*BEGIN CATALOGUE*/
.CatalogueTitle {
    margin-bottom:0px;
    background: rgb(72,176,107);
    background: -moz-linear-gradient(top, rgba(72,176,107,1) 0%, rgba(54,156,81,1) 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(72,176,107,1)), color-stop(100%,rgba(54,156,81,1)));
    background: -webkit-linear-gradient(top, rgba(72,176,107,1) 0%,rgba(54,156,81,1) 100%);
    background: -o-linear-gradient(top, rgba(72,176,107,1) 0%,rgba(54,156,81,1) 100%);
    background: -ms-linear-gradient(top, rgba(72,176,107,1) 0%,rgba(54,156,81,1) 100%);
    background: linear-gradient(to bottom, rgba(72,176,107,1) 0%,rgba(54,156,81,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#48b06b', endColorstr='#369c51',GradientType=0 );
    color: #fff;
    text-align: left;
    vertical-align: bottom;
    white-space: nowrap;
    padding:0.5em;
}

.CatalogueDesc{
    padding: 1em;
    border: solid 1px #cdcdcd;
    border-top: 0px;
    background: #f7f6f0;
}

.CatalogueList {
    margin-top:1em;
}


.CatalogueTitle i{
    float:right;
}

.courseTitle{
    font-weight:bold;
    font-size:1.2em;
    margin-bottom:1.1em;
}


.courseCredits{
    font-style:italic;
}

.coursePrereq{
    font-weight:bold;
}

.courseGrade{
    font-style:italic;
}

.courseDesc{
    margin-top:1.1em;
}

/*END CATALOGUE*/

/*BEGIN CONTENT*/
.staffContainer .thumbnail,.staffBio{
    margin-top:0.5em;
    margin-bottom:0.5em;
}

.staffBio .primary-button{
    margin-top:2em;
}

.slogoscontainer{
    margin:0 auto;
    text-align:center;
}

.slogos{
    float:left;
    min-width:270px;
    width:33%;
    height:150px;
}

/*.page-content table{
     width:100%;
    table-layout:fixed;
}

.page-content table th,table{
    border:solid 1px black;
    text-align:left;
    padding:0.5em;
}

.page-content table td{
    border-left:solid 1px black;
    vertical-align:top;
    padding:0.5em;

}*/



.page-content .subheading{
    text-transform:uppercase;
    text-decoration:underline;
    font-weight:bold;
    display:block;
}

.listWrapper .span6
{
    margin-bottom:1em;
}

.listStyle1 li{
    margin-bottom:1em;
}


#eventList2{
    margin-top:1em;
    margin-bottom:2em;
    height:auto;
}


#eventList1 li{
    margin-bottom:1.5em;
}

#eventList1 li .readMore{
    color:#000;
    text-decoration:none;
    font-weight:bold;
}

#eventList1 li a>i{
    color:#d1aa21;
    font-size:1em;
    font-weight:900;
}

#eventList2 li{
    width:30%;
    margin:0% 1.2%;
    vertical-align:top;
    display:inline-block;
}

 #eventList2 .thumbnail{
    position:relative;
    border:none;
    margin:0px;
    width:100%;
    height:auto;
    max-width:228px;
    max-height:163px;
    display:inline-block;
 }
 
 #eventList2 .thumbnail img{
    width:100%;
    height: auto;
    display: block;
 }
 
 #eventList2 h5{
    color:#258f6c;
    margin-top:1em;
    display:inline-block;
 }
 
 #eventList2 .dateContainer{
    position:absolute;
    right:10px;
    top:-5px;
    width:40%;
    height:auto;
    min-width:55px;
    max-width:79px;
    background:#258f6c;
    color:#fff;
    padding:0.4em 0em;
    z-index:3;
 }
 
 #eventList2 .month{
    text-transform:uppercase;
 }
 
  #eventList2 .month, #eventList2 .date{
    text-align:center;
    display:block;
  }
  
  #eventList2 .date{
    font-size:2em;
  }
  
  .quoteText{
    font-size:30px;
    line-height:1em;
    text-align:center;
    color:#434343;
    font-family: 'Sorts Mill Goudy', serif;
    font-style:italic;
    display: inline-block;
    vertical-align: middle;
  }

    .headingStyle2{
        color:#258f6c;
    }

.video-container {
    margin:2em 0;
    position: relative;
    padding-bottom: 67.5%;
    padding-top: 25px;
    height: 0;
    overflow: hidden;
}
 
.video-container iframe,
.video-container object,
.video-container embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.widescreen{
    padding-bottom: 57.25%;
}

.audienceBoxWrapper a{
    text-decoration:none;
}

.audienceBox{
    background:red;
    text-align:center;
    width:50%;
    height:8em;
    padding:1em;
}

.audienceBox .title{
    text-shadow: 0px 2px rgba(0, 0, 0, 0.5);
}

.colorBox1{
    background:#d1aa21;
}

a.colorBox1:hover{
    background:#dab123;
}

.colorBox2{
    background:#48b06b;
}

a.colorBox2:hover{
    background:#4cb870;
}

.colorBox3{
    background:#dc9164;
}

a.colorBox3:hover{
    background:#e49668;
}

.colorBox4{
background:#539bb5;
}

a.colorBox4:hover{
    background:#57a3be;
}

.title{
    color:#fff;
    font-size:22px;
    margin-bottom:0px;
    
}


.boxContent{
    margin-bottom:0px;
    color:#000;
    font-weight:bold;
    margin-top:0.5em;
    line-height:1em;
}

.tWrap{
    display:table;
    border-collapse:separate;
    border-spacing: 1em;

}

.tRow{
    display:table-row;
}

.tCell{
    display:table-cell;
    vertical-align:middle;

}

#interntaionalBusinessTable td+td{
    text-align:center;
}

.page-transportation-schedule table{
    margin-bottom:2em;
}

  /*remove this after preview image removed*/
  img.calendar{
    max-width:300px;
    width:100%;
    height:auto;
  }
/*END CONTENT*/

/*BEGIN INDIA CSS*/
.double-list span {
    margin-left: 30px;
}

.underline {
    text-decoration: underline;
}

.page-content .table-blue {
    border: 1px solid #06366b
}

.page-content .table-blue th {
    background: none repeat scroll 0 0 #06366b;
    text-align: center;
}

.page-content .table-blue td {
    border: 1px solid #06366b;
}
.footnotes {
    font-size: 10px;
}
/*END INDIA CSS*/


/*Non Responsive Styling*/
#footerContainer, #menuWrapper{
    max-width:1012px;
    margin:0 auto;
}

.listContentTwo{
    display: block;
    float: left;
}

.pager-bottom ul li {
    float:left;
    padding-right:10px;
}
//pageSlide
#pageslide {
    /* These styles MUST be included. Do not change. */
    display: none;
    position: absolute;
    top: 0;
    min-height: 100%;
    z-index: 999999;
    
    /* Specify the width of your pageslide here */
    width: 260px;
    padding: 20px;
    
    /* These styles are optional, and describe how the pageslide will look */
    background-color: #fff;
    box-shadow: 0px 0px 5px rgba(0,0,0,0.5);
    img {
        max-width: 100%;
    }
}
#megaMenu {
    display: none;
}
.sidebarWrapper {
    display: none;
}

// main menu
#megaMenu > li > a {
    font-color: #000;
    font-weight: bold;
}
#megaMenu > li {
    font-size: 1.25em;
    a, span {
        display: block;
        padding: 0.5em 0.5em;
    }
    span {
        border-bottom: 1px solid #ccc;
    }
}
#ghNav li {
    display: inline-block;
}
#ghNav li{
    text-align:center;
    height:54px;
    width:66px;
    position:relative;
    -webkit-transition:.5s;
    transition:.5s;
}

#ghNav li a{
    text-decoration:none;
}

#ghNav li:hover  a>.ghDescription{
    display:inline;
}

.ghLink{
    width:100%;
    height:100%;
    display:block;
    position:relative;
}

#globalHeader #ghNav li a {
    display: block;
    padding: 0;
    border-bottom: none;
}
.ghDescription{
    left:0px;
    bottom:0px;
    width: 200%;
    margin-left: -50%;
    color:#258f6c;
    font-weight:900;
    position:absolute;
    text-align:center;
    font-size:9px;
    display:inline;
}
/*BEGIN FIXED NAV ICONS*/
#li-blackboard {
    background:url('../images/icons/spritesheet2.png') 54% -60px no-repeat;
}

#li-computer {
    background:url('../images/icons/spritesheet2.png') 54% -708px no-repeat;
}

#li-naviance {
    background:url('../images/icons/spritesheet2.png') 54% -1248px no-repeat;
}

#li-calendar {
    background:url('../images/icons/spritesheet2.png') 54% -492px no-repeat;
}

#li-email {
    background:url('../images/icons/spritesheet2.png') 54% -816px no-repeat;
}

#li-wifi {
    background:url('../images/icons/spritesheet2.png') 54% -1356px no-repeat;
}

#li-ipad {
    background:url('../images/icons/spritesheet2.png') 54% -168px no-repeat;
}

#li-food {
    background:url('../images/icons/spritesheet2.png') 54% -924px no-repeat;
}
#li-books {
    background:url('../images/icons/spritesheet2.png') 54% -276px no-repeat;
}

#li-bus {
    background:url('../images/icons/spritesheet2.png') 54% -384px no-repeat;
}

#li-parking {
    background:url('../images/icons/spritesheet2.png') 54% -1032px no-repeat;
}

#li-profile {
    background:url('../images/icons/spritesheet2.png') 54% -1140px no-repeat;
}

#li-clock {
    background:url('../images/icons/spritesheet2.png') 54% -600px no-repeat;
}


/*END FIXED NAV ICONS*/
#ghNav .FMPlinks {
    display: block;
    width: 100%;
    clear: both;
    text-align: left;
    border-top: 1px solid #f7f7f7;
    a {
        display: block;
        clear: both;
        padding: 0.5em 0.25em;
        font-size: 1.25em;
    }
}
.subMenuLeft > li {
border-bottom: 1px solid #F7F7F7;
}
#megaMenu > li > div, #megaMenu > li > ul {
    display: none;
}

.staff-row .span4 {
    margin-btom: 1em;
    min-height: 150px;
}

.span6 .bullets {
  margin-bottom: 0;
}

@media all and (min-width: 600px) {
}
@media all and (min-width: 760px) {
    .container {
        max-width: 1012px;
    }
    @import "tablet";
}
@media all and (min-width: 961px) {
    // IE8 stylesheet
    @import "desktop";   
}
@media all and (min-width: 1000px){

}